.first{color: red; font-size:20px; font-family: cursive;}
.second{color: #0000aa; text-align: center; font-family:verdana;}
#third{color:#00ff00; text-align: center;}
#new{color:#44ff44; text-size:30px;}